{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "development": false
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "@react-dev-inspector/babel-plugin"
      ]
    }
  }
}
